.channels-navbar {
    position: fixed;
    display: flex;
    width: 75%;
    height: 15vh;
    margin-left: 25%;
    background-image: url('../../images/space.JPG');
}

#logout-button {
    background: none;
    border: none;
}

#logout-button:hover {
    cursor: pointer;
}

#current-channel {
    font-size: 0.9rem;
}