.channels-navbar {
    position: fixed;
    display: flex;
    width: 75%;
    margin-left: 25%;
    background-image: url('../../images/space.JPG');
}

#logout-button {
    background: none;
    border: none;
}

#logout-button:hover {
    cursor: pointer;
}