.channels-navbar {
    position: fixed;
    display: flex;
    width: 75%;
    margin-left: 25%;
    background-color: black;
}

#logout-button {
    background: none;
    border: none;
}

#logout-button:hover {
    cursor: pointer;
}