/* #channels-container {
    margin-left:25%
}
.sidebar {

    width:25%
}

.messages {
    overflow: auto;
} */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 10px 16px;
 }
 .sidenav {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: url('../../images/space2.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    color: white;
    padding-top: 100px;
    border: 1px solid white;
  }
  ​
  .sidenav p {
    padding: 10px;
  }

  .content {
    margin-left: 25%;
    padding: 80px 20px;
  }

  #sidenav-ul {
    margin: 0 auto;
  }

  .inp {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-style: solid;
    margin-bottom: 30px;
    height: 100%;
    width: 70%
  }

  .bttn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
    cursor: pointer;
    height: 100%;
    width: 30%;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    color: white;
  }
  .bttn:active {
    border-color: red;
    color: red;
  }

  .channel-delete {
    border: none;
    background: none;
    float: right;
    color: black;
  }

  .channel-delete:hover {
    cursor: pointer;
    color: red;
  }

  .channel-delete:active {
    color: black;
  }

  .channel-group  {
    display: flex;
    justify-content: center;
    background-color: white;
    list-style: none;
    font-size: 18px;
    text-transform: uppercase;
    background-color: black;
    border-radius: 5px;
    opacity: .7;
    width: 80%;
    margin: 10px auto;
  }
  .channel-group:hover {
    display: flex;
    cursor: pointer;
    opacity: .7;
    background-color: #f8f4f4;
    color: black;
    
  }
  .channel-group li {
    width: 70%;
    margin-bottom: 0.4rem;
  }

  #add-channel-div {
    width: 80%;
    height: 40px;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
  }