@import url('https://fonts.googleapis.com/css?family=Coming+Soon|Itim|Kaushan+Script|Neucha|Pangolin|Rancho|Turret+Road&display=swap');


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 7em;
  font-family: 'Rancho', cursive;

}

.App-intro {
  font-size: large;
}

.navbar {
  margin-top: auto;
}

#top-filler {
  margin-bottom: auto;
}

#nav-container {
  align-items: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

